@tailwind base;
@tailwind components;
@tailwind utilities;

body *:not(.exclude-transition) {
  @apply transition-colors ease-in-out delay-150 duration-1000;
}


/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body, html {
  transition: background-color 1s ease;
}

.dark-background {
  background-color: #241d1d;
  /* background-color: #1d2124; */
}

.strokeme {
  -webkit-text-stroke: 1.5px var(--dark-text);
}

.garden, .floor, .tree {
  /* width: 100vw; */
}

.tree {
  /* height: 40vw; */
  /* height: 30vw; */
  /* right: 5vw; */
}

.garden {
  /* height: 42vw; */
  /* top: 31vw; */
  /* height: 20vw; */
  /* bottom: 40vw; */
}

.floor {
  /* height: 42vw;
  bottom: 67vw; */
  /* height: 10vw; */
  /* top: 15vw;
  right: 200vw; */
}

body.dark .strokeme, html.dark .strokeme {
  -webkit-text-stroke: 1px var(--light-text);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
